<!DOCTYPE html>
<html ng-app="tfwpori">
    <head>
        <meta charset="utf-8">
        <base href="/">
        <title>Training for Warriors Pori</title>
        <link rel="icon" href="./favicon.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <a ng-href="/test">Test</a>
        <div ng-view></div>
        <script src='./app.bundle.js'></script>
    </body>
</html>